<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search" method="POST">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類、地區" aria-label="Restaurant Name..." value="{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center mt-4">
  <a class="btn btn-primary m-3" href="/restaurant/create" type="button">新增餐廳清單</a>
  <form class="form-inline" action="/sort?_method=PUT" method="POST" id="sort-form">
    <div class="form-group">
      <label class="m-3" for="sort">餐廳排序方式</label>
      <select class="form-control" name="sort" id="sort" onchange="sort-form.submit()">
        <option value="nameA" {{{equal sort 'nameA'}}}>名稱 A → Z</option>
        <option value="nameZ" {{{equal sort 'nameZ'}}}>名稱 Z → A</option>
        <option value="category" {{{equal sort 'category'}}}>類別</option>
        <option value="location" {{{equal sort 'location'}}}>地區</option>
      </select>      
    </div>
    <div class="form-group">
      <label class="m-3" for="rating">選取餐廳評分</label>
      <select class="form-control" name="rating" id="rating" onchange="sort-form.submit()">
        <option value="0" {{{equal rating '0'}}}>全部顯示</option>
        <option value="4.5" {{{equal rating '4.5'}}}>4.5分以上</option>
        <option value="4" {{{equal rating '4'}}}>4分以上</option>
        <option value="3" {{{equal rating '3'}}}>3分以上</option>
      </select>
    </div>
  </form>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  {{#if  restaurants}}
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}} 
              <div class="card mb-3">
                  <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
                  <div class="card-body p-3">
                      <h6 class="card-title mb-1">{{ this.name }}</h6>
                      <div class="restaurant-category mb-1">
                         <i class="fas fa-utensils pr-2"></i> {{ this.category }}
                      </div>
                      <span class="badge badge-pill badge-danger font-weight-normal">
                          {{ this.rating }}
                         <i class="fas fa-star fa-xs"></i>
                      </span>
                  </div>
                  <div class="d-flex justify-content-end">
                    <div class="btn-group m-2" role="group" aria-label="Basic example">
                      <a href="/restaurant/{{ this._id }}/edit">
                        <i class="fas fa-edit"></i>
                        <button type="button" class="btn btn-light">Edit</button>
                      </a>
                      <a href="/restaurant/{{ this._id }}">
                        <i class="far fa-file-alt"></i>
                        <button type="button" class="btn btn-light">Detail</button>
                      </a>
                      <form action="/restaurant/{{ this._id }}?_method=DELETE" method="POST">
                        <i class="fas fa-trash-alt"></i>
                        <button type="submit" class="btn btn-light">Delete</button>
                      </form>
                    </div>                    
                  </div>

              </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{else}}
    <div class="jumbotron d-flex flex-column align-items-center p-5 bg-light">
      <h1 class="display-4">搜尋不到符合的餐廳</h1>
      <p class="lead">嘗試輸入其他關鍵字吧!!</p>
      <a class="btn btn-primary btn-lg" href="/" role="button">返回首頁</a>
    </div>
  {{/if}}
</div>
