<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  {{#if  restaurants}}
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}} 
              <div class="card mb-3">
                  <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
                  <div class="card-body p-3">
                      <h6 class="card-title mb-1">{{ this.name }}</h6>
                      <div class="restaurant-category mb-1">
                         <i class="fas fa-utensils pr-2"></i> {{ this.category }}
                      </div>
                      <span class="badge badge-pill badge-danger font-weight-normal">
                          {{ this.rating }}
                         <i class="fas fa-star fa-xs"></i>
                      </span>
                  </div>
                  <div class="btn-group m-2" role="group" aria-label="Basic example">
                    <a href="/restaurants/{{ this._id }}/edit"><button type="button" class="btn btn-light">Edit</button></a>
                    <a href="/restaurants/{{ this._id }}/detail"><button type="button" class="btn btn-light">Detail</button></a>
                    <a href="/restaurants/{{ this._id }}/delete"><button type="button" class="btn btn-light">Delete</button></a>
                  </div>
              </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{else}}
    <div class="jumbotron d-flex flex-column align-items-center p-5 bg-light">
      <h1 class="display-4">搜尋不到符合的餐廳</h1>
      <p class="lead">嘗試輸入其他關鍵字吧!!</p>
      <a class="btn btn-primary btn-lg" href="/" role="button">返回首頁</a>
    </div>
  {{/if}}
</div>

<div class="container mt-5">
  <div class="row">
    <div class="jumbotron col-md-10 col-12 mx-auto"> 
      <h2 class="mb-3">新增餐廳清單</h2>
      <p class="lead">上面都沒有你喜歡的餐廳嗎?  趕快新增你最愛的餐廳資訊!!</p>
      <a class="btn btn-primary" href="/createRestaurant" role="button">新增</a>
    </div> 
  </div> 